{% extends 'bootstrap/base.html' %}
<!DOCTYPE html>
<html lang = "en">
    <head></head>
    <body>
        {% block content %}
        <div class="jumbotron">
            <div class="text-center">
                <h3>We'll Never Let You Forget Your Close One's Birthday :)</h3>
                <p><a class="btn btn-primary btn-lg" href="{{url_for('fill')}}" role="button">Maintain Your Birthday List</a></p>
                <a class="btn btn-primary btn-lg" href="{{url_for('mail')}}" role="button">Find Whose Birthday You'r Missing Today</a> 
                <a class="btn btn-primary btn-lg" href="{{url_for('see')}}" role="button">All Your Birthday List</a> 
            </div>
        </div>
        {% endblock %}
    </body>
</html> 